{% extends 'shop/base.html' %}
{% block content %}

<ul>
    {% for product in products %}


    <li>
        <p>{{ product.name }}</p>
        <p>{{ product.genre.name }}</p>
        <p>{{ product.price }}</p>
        <img src="/media/{{ product.cover_img }}" height="300" width="300" alt="cover">
        {% if product.tagged_file %}
        <audio controls>
            <source src="/media/{{ product.tagged_file}}" type="audio/mp3">
            <source src="/media/{{ product.tagged_file }}" type="audio/wav">
        </audio>
        {% else %}
        <audio controls>
            <source src="/media/{{ product.file}}" type="audio/mp3">
            <source src="/media/{{ product.file }}" type="audio/wav">
        </audio>
        {% endif %}

        <button data-product="{{ product.id }}" data-action="add" class="btn add-btn update-cart">Add to cart</button>

    </li>

    {% endfor %}
</ul>

{% endblock %}